.outer {
	display: flex;
	align-content: center;
	margin: 20px auto;
}

.imageWrapper {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 25px;

	img {
		height: 100%;
		width: 100%;
	}
}

.textWrapper {
	flex: 1;
}
