@import "../../../styles/abstracts/variables";

.outer {
	background-color: $highlight;
	display: flex;
	justify-content: space-between;
	padding: 3em 5em;
	text-align: center;

	a {
		color: #333;
	}
}

.links {
	display: flex;
	text-align: left;
	justify-content: flex-end;

	div {
		margin-left: 75px;
	}
}

.socials {
	display: inline-flex;
	margin-top: 20px;

	a:not(:first-child) {
		margin-left: 20px;
	}
}

.download * {
	margin: auto 0.5em;
}

@media (max-width: 700px) {
	.outer {
		flex-direction: column;
		align-items: center;
		min-height: 30em;
	}

	.links {
		flex-direction: column;
		text-align: center;

		div {
			margin-left: 0;
		}
	}
}
